@import "../../global.scss";

.chat {
  width: 100%;
  height: 100vh;
  // padding: 0% 2% 5px 2%;
  // padding: 1px 1px 1px 1px;

  .intern {
    background-color: black;
    width: 100%;
    height: 100%;
    // border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;

    .illustrations {
      // background-color: rgb(110, 12, 110);

      // #canvas-image-blending {
      //     width: 100%;
      //     height: 100%;
      //     filter: brightness(1.3) saturate(1.2);
      // }
    }

    .ask {
      padding: 70px 30px;
      position: relative;

      .bot_presentation {
        // background-color: red;
        width: 100%;
        color: white;
        font-size: 30px;
      }

      .input_question {
        width: 96%;
        height: 60px;
        padding: 20px;
        position: absolute;
        bottom: 50px;
        right: 2%;
        background-color: rgb(22, 22, 22);
        border: 2px solid rgb(39, 0, 44);
        border-radius: 10px;
        z-index: 1000;
        // overflow: hidden;

        input[type="text"] {
          position: absolute;
          top: 0;
          left: 80px;
          width: 105%;
          height: 105%;
          padding: 20px;
          background-color: transparent;
          outline: none;
          border: none;
          color: #d3d3d3;
          font-size: 16px;
          cursor: text;

          &::placeholder {
            font-size: 16px;
            font-weight: 500;
            color: rgb(78, 78, 78);
          }
        }

        .action,
        .picture {
        //   @include circle-button();
          background-color: rgb(211, 211, 211);
          position: absolute;
          width: 70px;
          mix-blend-mode: difference;
        }

        .action {
          top: 2px;
          left: 5px;
        }

        .picture {
          top: 2px;
          left: 80px;
        }

        .send {
          // @include circle-button();
          outline: none;
          border: none;
        //   border-radius: 40%;
          background-color: rgb(211, 211, 211);
          position: absolute;
          top: 2px;
          right: 10px;
          mix-blend-mode: difference;
        }
        .send:hover,.action:hover {
            background-color: rgb(157, 150, 150);
        }
// 3@118O9d
        .popover-content {
            position: absolute;
            bottom: 100%;
            left: 0%;
            // transform: translateX(-50%);
            background-color: rgb(22, 22, 22);
            border-radius: 10%;
            border: 1px solid black;
            padding: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);


            .popover-button {
                background-color: transparent;
                color: white;
                border: none;
                cursor: pointer;
                margin-right: 10px; /* Add margin between buttons */
              }

              .popover-button:hover {
                color: $green-1; /* Change color on hover */
              }
          }

      }

      .interation {
        display: flex;
        flex-direction: column;
        gap: 0px;
        font-size: 17px;
        height: 65vh;
        padding: 20px 0;
        margin-top: 20px;
        overflow-y: scroll;

        .mymessage{
            display: flex;
            justify-content: flex-end;
        }

        .me,.bot {
            padding: 15px 20px;
            border-radius: 20px; /* Rond les coins pour un effet de bulle */
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre pour un effet de bulle plus prononcé */
            margin-bottom: 10px; /* Ajoute un espace entre les messages */
            width: fit-content; /* Largeur adaptative au contenu */
            max-width: 100%; /* Assure que la largeur maximale ne dépasse pas la largeur de la fenêtre */
             /* Permet à l'élément de s'adapter à la largeur du texte */

        }

        .me {
          text-align: right;
          padding: 15px 20px;
          color: rgb(204, 204, 204);
          background-color: $violet-0;
          width: fit-content;
          .image {
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: right;
            flex-direction: row;
            gap: 2px;
            padding: 0px 0px;

            img {
              width: auto;
              height: auto;
              object-fit: cover;
              overflow: hidden;
            }
          }
        }

        .bot {
          display: inline-block;
          // flex-wrap: wrap;
          width: 100%;
          text-align: left;
          padding: 15px 30px;
          // color: white;
          color: rgb(204, 204, 204);
          background-color: rgba(255, 255, 255, 0.1); /* Fond semi-transparent pour l'effet de bulle */
          // position: relative;
          .bot_avatar {
            position: absolute;
            top: calc(8px + 10px);
            left: 2px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: linear-gradient(60deg, rgb(37, 13, 37), rgb(41, 7, 30));
          }

          .user-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 13%;
            align-items: center;
          }
          .user{
            font-size: small;
            color: $green-0;
          }
          .images {
            width: 100%;
            height: 200px;
            display: flex;
            flex-direction: row;
            gap: 2px;
            padding: 15px 0px;
            padding-bottom: 0;

            img {
              width: auto;
              height: auto;
              object-fit: cover;
              overflow: hidden;

              &:hover {
                filter: blur(5px);
              }
            }
          }
        }
      }
    }
  }
}
