// body {
//     overscroll-behavior: none;
//     height: 100vh;
// }

.hcontainer {
    overscroll-behavior: none;
    width: 600%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
}

.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}