@import '../global.scss';

.home {
    .mypanel {
        font-size: 700px;
        color: white;
        font-family: "humane";
        position: relative;
        width: 100 vw;
        height: 100 vh;
    }

    .scroll {
        height: max-content;
    }
}

.about {
    position: relative;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: $dark-bg-color;
overflow: hidden;

    .team-name {
        // position: absolute;
        // bottom: 10%;
        // left: 0;
        font-size: 160px;
        width: max-content;
        // background: #000;
        z-index: 100000;
        color: white;
    }

    .team {
        width: 100%;
        padding: 8rem 40px;
        height: max-content;
        // position: relative;

        .mate {
            height: 500px;
            width: 350px;

            .image {
                @include image(100%, 400px);
                background-color: transparent;
                border-radius: 2px;
                overflow: hidden;
                filter: saturate(0.6);
            }

            .info {
                width: 100%;
                display: flex;
                padding: 5px 10px;
                flex-direction: column;
                color: $dark-font-color;
                font-family: 'Poppins';

                .name {
                    font-size: 15px;
                    font-weight: 600;
                }

                .email {
                    font-size: 13px;
                    color: $green-0;
                    font-weight: 500;


                }
            }


        }

    }


}

.forum {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: $dark-bg-color;
}