@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/disco-deck');
@import url('https://fonts.cdnfonts.com/css/captivate');
@import url('https://fonts.cdnfonts.com/css/population-zero-bb');
@import url('https://fonts.cdnfonts.com/css/halloween-guises');
// DEVICES
$desktop: 1024px;
$tablet: 780px;
$phone: 480px;

// COLORS
$white: rgb(241, 241, 232);
$alabaster: #e0dfd5ff;
$jet: #333333ff;
$chamoisee: #a57548ff;
$bondi-blue: #208aaeff;
$air-superiority-blue: #6096baff;
$bg-dark: rgb(24, 24, 24);


$rich-black: #01161eff;
$midnight-green: #124559ff;
$air-force-blue: #598392ff;
$ash-gray: #aec3b0ff;
$beige: #eff6e0ff;


$black: #000a0e;
$violet-1: #4a314d;
$violet-0: #6b6570;
$green-0: #a8ba9a;
$green-1: #ace894;

$blood: #920000;
$citrouille: #ff7b00;




// VRAI
$cursor-color: $green-0 ;

$light-bg-color: $green-0;
$light-font-color: $black ;
$light-btn-bg: $violet-1;
$light-btn-text: $green-0;

$dark-bg-color: $black ;
$dark-font-color: $green-0 ;
$dark-btn-bg: $violet-1 ;
$dark-btn-text: $green-0;




@mixin phone {
    @media (max-width : $phone) {
        @content;
    }
}

@mixin tablet {
    @media (min-width : $phone) {
        @content;
    }
}


@mixin desktop {
    @media (min-width : $desktop) {
        @content;
    }
}



@mixin theme-light {
    // background-color: $light-bg-color;
    // color: $light-font-color;
}

@mixin theme-dark {
    // background-color: $dark-bg-color;
    // color: $dark-font-color;
}

@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin flex-right-center {
    display: flex;
    justify-content: right;
    align-items: center;
}

@mixin flex-left-center {
    display: flex;
    justify-content: left;
    align-items: center;
}

@mixin flex-left-start {
    display: flex;
    justify-content: left;
    align-items: start;
}


@mixin circle-button {
    background-color: white;
    color: black;
    outline: none;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    @include flex-center-center();
}

@mixin absolute-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

@mixin border {
    border: 1px solid black;
}

@mixin absoluteTopLeft($top, $left, $width, $height) {
    position: absolute;
    top: $top;
    left: $left;
    width: $width;
    height: $height;
}

@mixin absolute-Bottom-Right($bottom, $right, $width, $height) {
    position: absolute;
    bottom: $bottom;
    right: $right;
    width: $width;
    height: $height;
}

@mixin image($width, $height) {
    width: $width;
    height: $height;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@mixin gradientText($color1, $color2) {
    background-image: linear-gradient(to right, $color1, $color2);
    /* Make the background visible only behind the text */
    -webkit-background-clip: text;
    background-clip: text;

    /* Transparent text to show the gradient */
    color: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    cursor: none;
    // font-family: "Poppins", sans-serif;
}

body {
    overscroll-behavior: none;
    overflow-x: hidden;
    background-image: linear-gradient(60deg, rgb(247, 243, 235), rgb(245, 241, 231));
}


#light {
    // @include theme-light;

    * {
        // color: white
    }
}

#dark {
    // @include theme-dark;

    * {
        // color: $dark-font-color;
    }
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.earth {
    position: absolute;
    top: 5%;
    right: 0%;
    width: 100%;
    height: 100vh;

    @include phone {
        // background-color: rgb(124, 0, 128);
        width: 100%;
        height: 100vh;
    }

    // z-index: 100;
    // background-color: red;
}

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    pointer-events: none;
    z-index: 100000;
    mix-blend-mode: difference;
    display: flex;
    justify-content: center;
    align-items: center;

    @include phone {
        display: none;
    }
}

::selection {
    background: #ffb7b7;
    /* Couleur de fond du texte sélectionné */
    color: #000;
    /* Couleur du texte sélectionné */
}

/* Pour les navigateurs qui ne supportent pas ::selection, utilisez ::-moz-selection */
::-moz-selection {
    background: #ffb7b7;
    color: #000;
}

.hoverable {
    cursor: pointer;
}